In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df1=pd.read_csv("D:\ds\singapore flat resale  value prediction\ResaleFlatPricesBasedonApprovalDate19901999 (1).csv")
df2=pd.read_csv("D:\ds\singapore flat resale  value prediction\ResaleFlatPricesBasedonApprovalDate2000Feb2012 (1).csv")
df3=pd.read_csv("D:\ds\singapore flat resale  value prediction\ResaleFlatPricesBasedonRegistrationDateFromMar2012toDec2014 (1).csv")
df4=pd.read_csv("D:\ds\singapore flat resale  value prediction\ResaleflatpricesbasedonregistrationdatefromJan2017onwards (1).csv")
df5=pd.read_csv("D:\ds\singapore flat resale  value prediction\ResaleFlatPricesBasedonRegistrationDateFromJan2015toDec2016 (1).csv")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:5: SyntaxWarning: invalid escape sequence '\d'
C:\Users\SHREE\AppData\Local\Temp\ipykernel_9760\2242517496.py:1: SyntaxWarning: invalid escape sequence '\d'
  df1=pd.read_csv("D:\ds\singapore flat resale  value prediction\ResaleFlatPricesBasedonApprovalDate19901999 (1).csv")
C:\Users\SHREE\AppData\Local\Temp\ipykernel_9760\2242517496.py:2: SyntaxWarning: invalid escape sequence '\d'
  df2=pd.read_csv("D:\ds\singapore flat resale  value prediction\ResaleFlatPricesBasedonApprovalDate2000Feb2012 (1).csv")
C:\Users\SHREE\AppData\Local\Temp\ipykernel_9760\2242517496.py:3: SyntaxWarning: invalid escape sequence '\d'
  df3=pd.read_csv("D:\ds\singapore flat resale  value prediction\ResaleFlatPricesBasedonRegistrationDateFromMar2012toDec2014 (1).csv")
C:\Users\SHREE\AppData\Local\Temp\ipykernel_9760\2242517496.py:4: SyntaxWarning: invalid escape sequence '\d'
  df4=pd.read_csv("D:\ds\singapore flat resale  value prediction\ResaleflatpricesbasedonregistrationdatefromJan2017onwards (1).csv")
C:\Users\SHREE\AppData\Local\Temp\ipykernel_9760\2242517496.py:5: SyntaxWarning: invalid escape sequence '\d'
  df5=pd.read_csv("D:\ds\singapore flat resale  value prediction\ResaleFlatPricesBasedonRegistrationDateFromJan2015toDec2016 (1).csv")

In [3]:
da=[df1,df2,df3,df4,df5]
df=pd.concat(da)
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,9000.0,NaN
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,IMPROVED,1977,6000.0,NaN
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,IMPROVED,1977,8000.0,NaN
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,IMPROVED,1977,6000.0,NaN
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,NEW GENERATION,1976,47200.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
37148,2016-12,YISHUN,5 ROOM,297,YISHUN ST 20,13 TO 15,112.0,Improved,2000,488000.0,82
37149,2016-12,YISHUN,5 ROOM,838,YISHUN ST 81,01 TO 03,122.0,Improved,1987,455000.0,69
37150,2016-12,YISHUN,EXECUTIVE,664,YISHUN AVE 4,10 TO 12,181.0,Apartment,1992,778000.0,74
37151,2016-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,01 TO 03,146.0,Maisonette,1988,575000.0,70
37152,2016-12,YISHUN,MULTI-GENERATION,666,YISHUN AVE 4,10 TO 12,164.0,Multi Generation,1987,735000.0,70

In [4]:
df.isna().sum()

month                       0
town                        0
flat_type                   0
block                       0
street_name                 0
storey_range                0
floor_area_sqm              0
flat_model                  0
lease_commence_date         0
resale_price                0
remaining_lease        709050
dtype: int64

remaining_lease column is morethan 50% empty. if i fill it, it will affect the model output negatively so i am droping the column

In [5]:
c=['remaining_lease','block', 'street_name']
df=df.drop(c,axis=1)

In [6]:
c=df.columns
for i in c:
    print(f"{df[i].unique()}"+'\n\n')

['1990-01' '1990-02' '1990-03' '1990-04' '1990-05' '1990-06' '1990-07'
 '1990-08' '1990-09' '1990-10' '1990-11' '1990-12' '1991-01' '1991-02'
 '1991-03' '1991-04' '1991-05' '1991-06' '1991-07' '1991-08' '1991-09'
 '1991-10' '1991-11' '1991-12' '1992-01' '1992-02' '1992-03' '1992-04'
 '1992-05' '1992-06' '1992-07' '1992-08' '1992-09' '1992-10' '1992-11'
 '1992-12' '1993-01' '1993-02' '1993-03' '1993-04' '1993-05' '1993-06'
 '1993-07' '1993-08' '1993-09' '1993-10' '1993-11' '1993-12' '1994-01'
 '1994-02' '1994-03' '1994-04' '1994-05' '1994-06' '1994-07' '1994-08'
 '1994-09' '1994-10' '1994-11' '1994-12' '1995-01' '1995-02' '1995-03'
 '1995-04' '1995-05' '1995-06' '1995-07' '1995-08' '1995-09' '1995-10'
 '1995-11' '1995-12' '1996-01' '1996-02' '1996-03' '1996-04' '1996-05'
 '1996-06' '1996-07' '1996-08' '1996-09' '1996-10' '1996-11' '1996-12'
 '1997-01' '1997-02' '1997-03' '1997-04' '1997-05' '1997-06' '1997-07'
 '1997-08' '1997-09' '1997-10' '1997-11' '1997-12' '1998-01' '1998-02'
 '1998-03' '1998-04' '1998-05' '1998-06' '1998-07' '1998-08' '1998-09'
 '1998-10' '1998-11' '1998-12' '1999-01' '1999-02' '1999-03' '1999-04'
 '1999-05' '1999-06' '1999-07' '1999-08' '1999-09' '1999-10' '1999-11'
 '1999-12' '2000-01' '2000-02' '2000-03' '2000-04' '2000-05' '2000-06'
 '2000-07' '2000-08' '2000-09' '2000-10' '2000-11' '2000-12' '2001-01'
 '2001-02' '2001-03' '2001-04' '2001-05' '2001-06' '2001-07' '2001-08'
 '2001-09' '2001-10' '2001-11' '2001-12' '2002-01' '2002-02' '2002-03'
 '2002-04' '2002-05' '2002-06' '2002-07' '2002-08' '2002-09' '2002-10'
 '2002-11' '2002-12' '2003-01' '2003-02' '2003-03' '2003-04' '2003-05'
 '2003-06' '2003-07' '2003-08' '2003-09' '2003-10' '2003-11' '2003-12'
 '2004-01' '2004-02' '2004-03' '2004-04' '2004-05' '2004-06' '2004-07'
 '2004-08' '2004-09' '2004-10' '2004-11' '2004-12' '2005-01' '2005-02'
 '2005-03' '2005-04' '2005-05' '2005-06' '2005-07' '2005-08' '2005-09'
 '2005-10' '2005-11' '2005-12' '2006-01' '2006-02' '2006-03' '2006-04'
 '2006-05' '2006-06' '2006-07' '2006-08' '2006-09' '2006-10' '2006-11'
 '2006-12' '2007-01' '2007-02' '2007-03' '2007-04' '2007-05' '2007-06'
 '2007-07' '2007-08' '2007-09' '2007-10' '2007-11' '2007-12' '2008-01'
 '2008-02' '2008-03' '2008-04' '2008-05' '2008-06' '2008-07' '2008-08'
 '2008-09' '2008-10' '2008-11' '2008-12' '2009-01' '2009-02' '2009-03'
 '2009-04' '2009-05' '2009-06' '2009-07' '2009-08' '2009-09' '2009-10'
 '2009-11' '2009-12' '2010-01' '2010-02' '2010-03' '2010-04' '2010-05'
 '2010-06' '2010-07' '2010-08' '2010-09' '2010-10' '2010-11' '2010-12'
 '2011-01' '2011-02' '2011-03' '2011-04' '2011-05' '2011-06' '2011-07'
 '2011-08' '2011-09' '2011-10' '2011-11' '2011-12' '2012-01' '2012-02'
 '2012-03' '2012-04' '2012-05' '2012-06' '2012-07' '2012-08' '2012-09'
 '2012-10' '2012-11' '2012-12' '2013-01' '2013-02' '2013-03' '2013-04'
 '2013-05' '2013-06' '2013-07' '2013-08' '2013-09' '2013-10' '2013-11'
 '2013-12' '2014-01' '2014-02' '2014-03' '2014-04' '2014-05' '2014-06'
 '2014-07' '2014-08' '2014-09' '2014-10' '2014-11' '2014-12' '2017-01'
 '2017-02' '2017-03' '2017-04' '2017-05' '2017-06' '2017-07' '2017-08'
 '2017-09' '2017-10' '2017-11' '2017-12' '2018-01' '2018-02' '2018-03'
 '2018-04' '2018-05' '2018-06' '2018-07' '2018-08' '2018-09' '2018-10'
 '2018-11' '2018-12' '2019-01' '2019-02' '2019-03' '2019-04' '2019-05'
 '2019-06' '2019-07' '2019-08' '2019-09' '2019-10' '2019-11' '2019-12'
 '2020-01' '2020-02' '2020-03' '2020-04' '2020-05' '2020-06' '2020-07'
 '2020-08' '2020-09' '2020-10' '2020-11' '2020-12' '2021-01' '2021-02'
 '2021-03' '2021-04' '2021-05' '2021-06' '2021-07' '2021-08' '2021-09'
 '2021-10' '2021-11' '2021-12' '2022-01' '2022-02' '2022-03' '2022-04'
 '2022-05' '2022-06' '2022-07' '2022-08' '2022-09' '2022-10' '2022-11'
 '2022-12' '2023-01' '2023-02' '2023-03' '2023-04' '2023-05' '2023-06'
 '2023-07' '2023-08' '2023-09' '2023-10' '2023-11' '2023-12' '2024-01'
 '2024-02' '2024-03' '2024-04' '2024-05' '2024-06' '2024-07' '2024-08'
 '2024-09' '2024-10' '2015-01' '2015-02' '2015-03' '2015-04' '2015-05'
 '2015-06' '2015-07' '2015-08' '2015-09' '2015-10' '2015-11' '2015-12'
 '2016-01' '2016-02' '2016-03' '2016-04' '2016-05' '2016-06' '2016-07'
 '2016-08' '2016-09' '2016-10' '2016-11' '2016-12']


['ANG MO KIO' 'BEDOK' 'BISHAN' 'BUKIT BATOK' 'BUKIT MERAH' 'BUKIT TIMAH'
 'CENTRAL AREA' 'CHOA CHU KANG' 'CLEMENTI' 'GEYLANG' 'HOUGANG'
 'JURONG EAST' 'JURONG WEST' 'KALLANG/WHAMPOA' 'MARINE PARADE'
 'QUEENSTOWN' 'SENGKANG' 'SERANGOON' 'TAMPINES' 'TOA PAYOH' 'WOODLANDS'
 'YISHUN' 'LIM CHU KANG' 'SEMBAWANG' 'BUKIT PANJANG' 'PASIR RIS' 'PUNGGOL']


['1 ROOM' '3 ROOM' '4 ROOM' '5 ROOM' '2 ROOM' 'EXECUTIVE'
 'MULTI GENERATION' 'MULTI-GENERATION']


['10 TO 12' '04 TO 06' '07 TO 09' '01 TO 03' '13 TO 15' '19 TO 21'
 '16 TO 18' '25 TO 27' '22 TO 24' '28 TO 30' '31 TO 33' '40 TO 42'
 '37 TO 39' '34 TO 36' '06 TO 10' '01 TO 05' '11 TO 15' '16 TO 20'
 '21 TO 25' '26 TO 30' '36 TO 40' '31 TO 35' '49 TO 51' '46 TO 48'
 '43 TO 45']


[ 31.   73.   67.   82.   74.   88.   89.   83.   68.   75.   81.   91.
  92.   97.   90.   98.   99.  100.   93.  103.  119.  120.  118.  121.
 135.  117.   45.   65.   59.   70.   76.   84.  104.  105.  125.  132.
 139.  123.  143.  151.   69.  106.  107.  116.  149.  141.  146.  148.
 145.  154.  150.   29.   51.   61.   63.   64.   72.   58.   66.   60.
  53.   54.   56.   77.  133.  131.  115.   43.   38.   41.   85.  111.
 101.  112.  137.  127.  147.  163.   50.   40.   60.3  62.   55.   57.
  52.   63.1 102.   83.1 126.  140.  142.   71.  108.  144.   96.  114.
 157.  152.  155.   87.  109.  110.   94.  134.  122.  128.   78.   46.
  42.   49.   47.   86.  156.   79.   80.  124.   28.  113.   95.  160.
 136.   48.  138.  161.   39.  130.  159.  206.   68.2  64.9 129.  165.
 153.  166.  210.   59.2  73.1  48.1 174.   74.9 164.  158.   37.  198.
 173.  199.  261.  179.   69.7 246.  171.  181.   44.  169.  189.   67.2
 222.   64.8 250.   74.8 215.  237.   59.1 185.  297.  177.  243.   69.9
 162.  170.  190.  175.  187.  241.  186.   56.4 176.   75.9 184.  178.
  69.2 172.  168.  167.  152.4  64.7 195.  188.  225.  307.  182.  131.1
 192.  183.  280.  180.  221.  193.  207.   89.1  88.1 259.  266.   87.1
  34.   35.  239.  249.   68.8 100.2 208.  189.4 366.7]


['IMPROVED' 'NEW GENERATION' 'MODEL A' 'STANDARD' 'SIMPLIFIED'
 'MODEL A-MAISONETTE' 'APARTMENT' 'MAISONETTE' 'TERRACE' '2-ROOM'
 'IMPROVED-MAISONETTE' 'MULTI GENERATION' 'PREMIUM APARTMENT' 'Improved'
 'New Generation' 'Model A' 'Standard' 'Apartment' 'Simplified'
 'Model A-Maisonette' 'Maisonette' 'Multi Generation' 'Adjoined flat'
 'Premium Apartment' 'Terrace' 'Improved-Maisonette' 'Premium Maisonette'
 '2-room' 'Model A2' 'DBSS' 'Type S1' 'Type S2' 'Premium Apartment Loft'
 '3Gen']


[1977 1976 1978 1979 1984 1980 1985 1981 1982 1986 1972 1983 1973 1969
 1975 1971 1974 1967 1970 1968 1988 1987 1989 1990 1992 1993 1994 1991
 1995 1996 1997 1998 1999 2000 2001 1966 2002 2006 2003 2005 2004 2008
 2007 2009 2010 2012 2011 2013 2014 2015 2016 2017 2018 2019 2020]


[  9000.   6000.   8000. ... 540188. 470066. 395333.]

In [7]:
df=pd.get_dummies(df,columns=['flat_type', 'town', 'storey_range','flat_model'],dtype='int')

In [8]:
df['month']=pd.to_datetime(df['month'],format='%Y-%m').dt.year

In [9]:
col=df.columns[0:4]
col

Index(['month', 'floor_area_sqm', 'lease_commence_date', 'resale_price'], dtype='object')

In [10]:
for i in col:
   print(f"{i}:{df[i].skew()}")

month:0.2906008507422244
floor_area_sqm:0.3663916251499705
lease_commence_date:0.6582370256008844
resale_price:0.9647024526882128

In [11]:
for i in col:
   print(f"{i}:{df[i].kurtosis()}")

month:-1.0609401074985965
floor_area_sqm:-0.33014091048463445
lease_commence_date:0.24869784037539455
resale_price:1.4448093644358195

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

X=df.drop(['resale_price'],axis=1)
y = df['resale_price']

x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

f=open('regressor_model_comparison.txt','x')

models = [
    LinearRegression(),Lasso(), Ridge(), ElasticNet(),
    KNeighborsRegressor(),
    DecisionTreeRegressor(),
    RandomForestRegressor(),
    GradientBoostingRegressor()
]



for model in models:
    model.fit(x_train,y_train)
    train_prediction = model.predict(x_train)
    test_predicition = model.predict(x_test)

    R2SCORE=r2_score(y_train,train_prediction)
    MAE=mean_absolute_error(y_train,train_prediction)
    MSE=mean_squared_error(y_train,train_prediction)

    mae= mean_absolute_error(y_test,test_predicition)
    mse=mean_squared_error(y_test,test_predicition)
    r2score=r2_score(y_test,test_predicition)
    with open('regressor_model_comparison.txt','a') as f:
        f.write('model =' + repr(model) + '\n')
        f.write('train' + '\n')
        f.write('MAE ='+ repr(MAE) + '\n')
        f.write('MSE ='+ repr(MSE) + '\n')
        f.write('R2 ='+ repr(R2SCORE) + '\n' +'\n')
        f.write('test' + '\n')
        f.write('MAE ='+ repr(mae) + '\n')
        f.write('MSE ='+ repr(mse) + '\n')
        f.write('R2 ='+ repr(r2score) + '\n' +'\n'+'\n')
        


    print(f"******{type(model).__name__}********")
    print(f"********Train*********")
    print(f"MAE: {mean_absolute_error(y_train,train_prediction)}")
    print(f"MSE: {mean_squared_error(y_train,train_prediction)}")
    print(f"R2SCORE: {r2_score(y_train,train_prediction)}")
    print(f"********Test*********")
    print(f"MAE: {mean_absolute_error(y_test,test_predicition)}")
    print(f"MSE: {mean_squared_error(y_test,test_predicition)}")
    print(f"R2SCORE: {r2_score(y_test,test_predicition)}")
    print("\n\n\n")

******LinearRegression********
********Train*********
MAE: 48876.72546446347
MSE: 4178109778.5034165
R2SCORE: 0.8612762643086561
********Test*********
MAE: 48863.70336566883
MSE: 4178213825.7597423
R2SCORE: 0.8609806725227438

c:\Users\SHREE\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:697: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.025e+15, tolerance: 2.117e+12
  model = cd_fast.enet_coordinate_descent(

******Lasso********
********Train*********
MAE: 48880.616956424434
MSE: 4178811712.6421256
R2SCORE: 0.861252958332726
********Test*********
MAE: 48867.75254486056
MSE: 4179073242.7442183
R2SCORE: 0.8609520776311976




******Ridge********
********Train*********
MAE: 48877.152444002684
MSE: 4178133060.3816566
R2SCORE: 0.8612754912918388
********Test*********
MAE: 48864.1159296298
MSE: 4178229504.720781
R2SCORE: 0.8609801508456085




******ElasticNet********
********Train*********
MAE: 62060.691499051194
MSE: 7488028251.755764
R2SCORE: 0.7513786599408201
********Test*********
MAE: 61876.73239948077
MSE: 7442917904.792398
R2SCORE: 0.7523560342428088




******KNeighborsRegressor********
********Train*********
MAE: 18138.904472912865
MSE: 767272042.1530256
R2SCORE: 0.9745246416150607
********Test*********
MAE: 22010.545417104426
MSE: 1152965210.8023434
R2SCORE: 0.9616380456112081




******DecisionTreeRegressor********
********Train*********
MAE: 9859.589781224418
MSE: 253540311.96485493
R2SCORE: 0.9915818250144897
********Test*********
MAE: 20821.22195700504
MSE: 972570292.5799125
R2SCORE: 0.9676402229188851




******RandomForestRegressor********
********Train*********
MAE: 12057.989631615106
MSE: 297133118.7270385
R2SCORE: 0.9901344343704155
********Test*********
MAE: 18758.95946654111
MSE: 740324390.6471597
R2SCORE: 0.9753676084578885




******GradientBoostingRegressor********
********Train*********
MAE: 35034.96375913201
MSE: 2579118171.02583
R2SCORE: 0.9143668006726509
********Test*********
MAE: 34961.839206448436
MSE: 2576390500.122099
R2SCORE: 0.9142772271640169

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

X=df.drop(['resale_price'],axis=1)
y = df['resale_price']
model = RandomForestRegressor()
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.25)


model.fit(x_train,y_train)

train_pred = model.predict(x_train)
test_pred = model.predict(x_test)

R2SCORE=r2_score(y_train,train_prediction)
MAE=mean_absolute_error(y_train,train_prediction)
MSE=mean_squared_error(y_train,train_prediction)

mae= mean_absolute_error(y_test,test_predicition)
mse=mean_squared_error(y_test,test_predicition)
r2score=r2_score(y_test,test_predicition)
    
with open('random_forest_regressor_model.txt','a') as f:
        f.write('model =' + repr(model) + '\n')
        f.write('version = 4')
        f.write('train' + '\n')
        f.write('MAE ='+ repr(MAE) + '\n')
        f.write('MSE ='+ repr(MSE) + '\n')
        f.write('R2 ='+ repr(R2SCORE) + '\n')
        f.write('test' + '\n')
        f.write('MAE ='+ repr(mae) + '\n')
        f.write('MSE ='+ repr(mse) + '\n')
        f.write('R2 ='+ repr(r2score) + '\n')
    



print(f"******{type(model).__name__}********")
print(f"********Train*********")
print(f"MAE: {mean_absolute_error(y_train,train_pred)}")
print(f"MSE: {mean_squared_error(y_train,train_pred)}")
print(f"R2SCORE: {r2_score(y_train,train_pred)}")
print(f"********Test*********")
print(f"MAE: {mean_absolute_error(y_test,test_pred)}")
print(f"MSE: {mean_squared_error(y_test,test_pred)}")
print(f"R2SCORE: {r2_score(y_test,test_pred)}")

******RandomForestRegressor********
********Train*********
MAE: 12060.684817363335
MSE: 297284055.95454556
R2SCORE: 0.990132991987732
********Test*********
MAE: 18658.52756923708
MSE: 731759838.3598449
R2SCORE: 0.9756259216380111

In [14]:
import pickle

with open('regression_model1.pkl', 'wb') as file:
    pickle.dump(model, file)

In [15]:
pickle.dump(x_train.columns, open('Rmodel_columns.pkl', 'wb'))